
.logo{
	max-width: 7.5rem;
}
body{
	height: 100vh;
	position: flex;
	overflow-x: hidden;
}
.navbar{
	display: flex;
}

.design_img{
	width: 100px;
	max-height: 100px;
}

.planning_img{
	width: 100px;
	max-height: 100px;
}

.team_img{
	width: 100px;
	max-height: 100px;
}
.cards{
	display: flex;
	margin-top: 210px;
	align-items: center;
	justify-content: center;
	min-height: 340px;
    grid-template-columns: 33% 33% 33%;
	width: 80%;
	margin-left: 139px;
}
.cards div {
	height: 615px;
	width: 535px;
	padding: 20px 35px;
	border-radius: 20px;
	margin: 10px;
	position: relative;
	overflow: hidden;
	background: #fff;
	text-align: center;
}
.cards h3{
	font-size: 1.4rem;
}
.cards i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
}
.cards p {
	margin: 20px;
}

.cards a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	background:rgba(0,0,0,0.2);
	border-radius: 13px;
	
}

.cards a:hover {
background:rgba(0,0,0,0.4);
}

.cards img {
	height: 35%;
	text-align: center;
	margin: 10px 0px;
}

.moreText{
    display: none;
}

.text.show-more .moreText{
    display: inline;
}




					/*Media Queries*/


@media only screen and(max-width: 400px){
	#gridContainer{
		overflow: hidden;
		overflow-y: scroll;
	}

	.div2{
		max-width: 1000px;
	}
}
@media only screen and(min-width: 640px){
	
}

@media only screen and (max-width: 896px){
	body{
		height: 100vh;
		width: 100%;
	}
	#gridContainer{
		font-size: 12px;
		margin-left: -5.5rem;
		margin-top: -50px;
	}

	.div1,
	
	.div3{
		max-height: 500px;
	}

	.div2{
		width:1rem;
	}

	.design_img,
	.planning_img,
	.team_img{
		width: 50px;
		max-height: 50px;
	}
	
	
	
}
	
@media only screen and(max-width: 1024px){
	.logo{
		max-width: 10px;
	}
	
	#gridContainer{
		font-size: 12px;

	}
	.div1,
	
	.div3{
		max-height: 500px;
	}

	.div2{
		max-width: 10px;
	}
	  
}





@media only screen and(max-width: 1366px){
	.logo{
		max-width: 10px;
	}
	.cards div{
		margin-left: -1000px;
		max-width: 10px;
	}

	#gridContainer{
		display: grid; 

		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		
		max-height: 10px;
		
	 }
	   
	
}



