<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC Checklist</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--link rel="stylesheet" href="../style.css"-->

	<link rel="stylesheet" href="../styling/allpages.css">
	<link rel="stylesheet" href="../styling/about.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
	<div class="front-page">
			<nav style="justify-content:space-between" class="navbar">
                <div>				
				    <img class="logo" src="/img/logo.png">
					
                </div>  
				
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a class="active" href="about.html">About</a></li>
					<li><a href="trending.html">Trending</a></li>
					<li><a class = "active" href="feedback.html">Feedback</a></li>
					<li><a class="signin" href="login.html">Sign In</a></li>
					<div class="dropdown" data-dropdown>
                        <button id="link" class="material-symbols-outlined" data-dropdown-button>menu</button>
                        <div class="dropdown-menu">
                            <a href="../index.html">Home</a>
					        <a href="about.html">About</a>
					        <a href="trending.html">Trending</a>
					        <a href="feedback.html">Feedback</a>
                            <a href="login.html">Sign In</a>
                        </div>
                    </div>
				</ul>
			</nav>
				<section id = "gridContainer">
                    <div class="cards">
                        <div class = "div1">
                            <img class = "design_img" src="/img/about-design.png">
                       		<h3>Design </h3> 
								<p class="text">If your website isn't easy to use, is hard to find or looks unprofessional. Website design it so important if you want to succeed in business online. 
									Websites are an essential element of modern digital marketing.
									<span class="moreText">
										If your site is filled with broken links, low-quality images, and weird user experiences, then users are likely to leave your site as quickly as they found it. 
										Good website design is essential if you want visitors to return again and again. It will also make it easier for search engines such as Google to find and index your site.
									</span></p>
									<button id="button" class="read-more-btn">Read More</button>
                        </div>
						<div class = "div2">
                            <img class = "planning_img" src="/img/about-planning.png">
							<h3>Planning</h3>
							   <p class="text">Professional website design can make or break a company. A well-designed website can be a powerful tool for branding, customer engagement, and lead generation. 
								The first impression of your website can impact how potential customers view your business.
									 Website design may not seem like a very technical field, but there are many considerations when creating a site from 
									scratch or updating an existing one. A poorly designed site can hurt brand recognition, drive visitors away, and send search engine ranking plummeting.
								</p>
								
                        </div>
						<div class = "div3">
                            <img class = "team_img" src="/img/about-team.png">
                       		 <h3>The Team Behind the Site</h3>
								<p> <b>Armando Perez:</b> Front-end</p>
								<p> <b>Bhel Charles:</b> Planning</p>
								<p> <b>Devin Lin:</b> Design</p>
								<p> <b>Fazle Rabbi:</b> Back-end</p>
                        </div>
                    </div>
	</div>
				</section>
	<script src="../script.js"></script>
</body>
</html>
