<!--
	TODO LIST
	*	SHOW ALL EVENTS BY DEFAULT, WHEN LOGGED IN, SHOW ONLY EVENTS PREFERRED BY USER
	*	ADD SLIDING CARDS FOR TRENDING EVENTS (USE PLACEHOLDERS)
	*	ADD MULTIPLE SLIDING CARDS BASED ON DIFFERENT CRITERIAS (TRENDING, NEAR, PRICE, UPCOMING)
	*	ADD A SHOW ON MAP, MORE INFO, AND SAVE EVENT BUTTON ON CARDS (x)
	* 	ADD FUNCTIONALITY TO BUTTONS
			-	SHOW ON MAP BUTTON REDIRECTS USER TO INDEX.HTML WITH LOCATION OF EVENT CENTERED ON MAP
			-	MORE INFO BUTTON REDIRECTS USER TO URL OF EVENT
			-	SAVE EVENT BUTTON ADDS DESIRED EVENTS TO A LIST OF SAVED EVENTS
	*	ADD TAG(S) ON CARD BASED ON THE TYPE OF EVENT IT IS, MUSIC ART FREE ETC.
	*		-	Make container for image, category, and buttons
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC Checklist</title>
	<!--link rel="stylesheet" href="../style.css"-->
	
	<link rel="stylesheet" href="../styling/allpages.css">
	<link rel="stylesheet" href="../styling/trending.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" >
</head>
<body>
	<div class="front-page">
			<nav style="justify-content:space-between" class="navbar">
                
                <!---logo and background from canva--->
                <div>
				    <img class="logo" src="/img/logo.png">
                </div>  
		
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a class="active" href="trending.html">Trending</a></li>
					<li><a href="feedback.html">Feedback</a></li>
					<li><a class="signin" href="login.html">Sign In</a></li>
					<div class="dropdown" data-dropdown>
                        <button id="link" class="material-symbols-outlined" data-dropdown-button>menu</button>
                        <div class="dropdown-menu">
                            <a href="../index.html">Home</a>
					        <a href="about.html">About</a>
					        <a href="trending.html">Trending</a>
					        <a href="feedback.html">Feedback</a>
                            <a href="login.html">Sign In</a>
                        </div>
                    </div>
				</ul>
			</nav>	

			
			<!--Trending Section-->
			<div class="container">
				<!--Header for trending section-->
				<div class="header">
					<h1><i class="fa-solid fa-fire fa-lg"></i>Trending Right Now <i class="fa-solid fa-fire fa-lg"></i></h1>
				</div>
			</div>
			
			<!--Generates Cards for Top events-->
			<div id="cards" class="container">No Events Found</div>

			<!--Card control-->
			<div class="container">
				<div class="pagerbox">
					<span class="pagerbtn" onclick="changeSlide(-1)"><i class="fa-solid fa-chevron-left fa-2x"></i></span>
					<span class="dot active" onclick="activeButton(0)"></span>
					<span class="dot" onclick="activeButton(1)"></span>
					<span class="dot" onclick="activeButton(2)"></span>
					<span class="pagerbtn" onclick="changeSlide(1)"><i class="fa-solid fa-chevron-right fa-2x"></i></span>
				</div>
			</div>

			<!--Table Section-->
			<div class="container">
				<div class="centerbox">
					<button class="btn">For You</button>
					<button class="btn">All Events</button>
					<button class="btn">Discover</button>
				</div>
				<div class="centerbox"><input id="searchInput" class="search" type="text" placeholder="Search Events"></div>
				
				<div class="section" style="border-radius: 20px 0px 0px 20px;">
					<div class="contentbox">						
						<div class="header"><h4>Categories</h4></div>
						<div class="optionbox1">
							<span class="options1"><label for="music">Music<i class="fa-solid fa-music"></i></label>
							<input type="checkbox" onclick="toggleCateg('Music')"></span>
							<span class="options1"><label for="artsCult">Arts&Culture<i class="fa-solid fa-masks-theater"> </i></label>
							<input type="checkbox" onclick="toggleCateg('Arts')"></span>
							<span class="options1"><label for="travel">Travel&Outdoor<i class="fa-solid fa-person-hiking"> </i></label>
							<input type="checkbox" onclick="toggleCateg('Travel')"></span>
							<span class="options1"><label for="food">Food&Drinks<i class="fa-solid fa-utensils"> </i></label>	
							<input type="checkbox" onclick="toggleCateg('Food')"></span>
							<span class="options1"><label for="Health">Health&Fitness<i class="fa-solid fa-dumbbell"> </i></label>
							<input type="checkbox" onclick="toggleCateg('Health')"></span>
							<span class="options1"><label for="entertainment">Entertainment<i class="fa-solid fa-film"></i> </label>	
							<input type="checkbox"onclick="toggleCateg('Entertainment')"></span>
							<span class="options1"><label for="attraction">Attraction&Tour<i class="fa-solid fa-earth-americas"> </i></label>
							<input type="checkbox" onclick="toggleCateg('Attraction')"></span>
						</div>

						<div class="header"><h4>Price</h4></div> 
						<div class="optionbox2">
							<span class="options2"><label for="free"><h5>Free</h5></label>
							<input type="checkbox" onclick="togglePricing('Free')"></span>
							<span class="options2"><label for="paid"><h5>Paid</h5></label>	
							<input type="checkbox" onclick="togglePricing('Paid')"></span>
							<span class="options2"><label for="special"><h5>Special</h5></label>	
							<input type="checkbox" onclick="togglePricing('Special')"></span>
						</div>
						
						<div class="header"><h4>Date</h4></div>
						<div class="optionbox2">
							<input type="date" id="date" name="start" value="2022-12-09">
						</div>
						
					</div>
				</div>

				<!--Middle Section of Table: Event List-->
				<div class="section">
					<div class="contentbox">
						<!--Displays Number of events matched-->
						<div id="eventNum" class="header"><h4>Event List</h4></div>		
						<!--Displays all events stored in current page-->
						<div id="events" class="eventlist">No Events Found</div>
						<!--Page Control-->
						<div class="eventpagerbox">
							<button class="pagerbtn" onclick="changePage(-1)"><h2>Prev</h2></i></button>
							<button class="pagerbtn" onclick="changePage(1)"><h2>Next</h2></i></button>
						</div>
					</div>
				</div>

				<!--Right Section of Table: Event Information-->
				<div class="section" style="border-radius: 0px 20px 20px 0px;">					
					<div id="eventinfo" class="contentbox">
						<div class="header"><h4>Information</h4></div>
						<div class="imgbox"><img class="img" src="/img/logo.png"></div>
						<div class="infobox">
							<!--Default Message when no events are found-->
							<div class="info"><h4>No Events Found, Broaden Your Search Or Try Again Later</h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../script.js"></script>
	<script src="https://kit.fontawesome.com/2ff391b354.js" crossorigin="anonymous"></script>
	<script>

/*******Mock Data: Generic*******/
		var eventData = {
			"events": [
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F298786339%2F226667758798%2F1%2Foriginal.20220607-172215?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C217%2C636%2C318&s=be6b400740a1d2beacc2bd5fa92cfea2",
					"name": "New Year's Eve 2023 @230 Fifth Rooftop",
					"date": "Sat, Dec 31",
					"time": "8:00 PM",
					"address": "230 5th Ave • New York, NY",
					"price": "Starts at $193.30",
					"category": "Music",
					"description": "Celebrate New Year's Eve at NYC's largest indoor & outdoor bar! Join us for our annual New Year's Eve Extravaganza!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F144930473%2F51234595122%2F1%2Foriginal.20210818-185920?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C198%2C2100%2C1050&s=34639f44e515c9b00764a8dea916af70",
					"name": "Sunday Sqool Comedy",
					"date": "Sun, Dec 11",
					"time": "7:45 PM",
					"address": "Sour Mouse • New York, NY",
					"price": "Starts at $12.24",
					"category": "Arts",
					"description": "The most diverse, talented comedians in NYC come together at this show, and it's topped off w/ an afterparty."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F404522969%2F116012978731%2F1%2Foriginal.20221204-194748?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C377%2C1200%2C600&s=4e1f154b8ec373f9d264a62ae9625616",
					"name": "Black Health Connect: NYC - Q4 Mixer + Toy Drive",
					"date": "Fri, Dec 16",
					"time": "5:00 PM",
					"address": "Harbor NYC Rooftop • New York, NY",
					"price": "RSVP and a Toy are required for free entry",
					"category": "Health",
					"description": "COMING TOGETHER TODAY, FOR A MORE SUCCESSFUL TOMORROW."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F402169529%2F66299487319%2F1%2Foriginal.20221130-054645?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C13%2C1024%2C512&s=19af6eab00379e0e931c8436fffeb1ed",
					"name": "Ladies Drink For Free NYC #1 Party Lux Saturdays At Cavali NYC",
					"date": "Sat, Dec 10",
					"time": "11:00 PM",
					"address": "Cavali New York • Queens, NY",
					"price": "Ladies Free Before Midnight W/RSVP - Men Free Before 11:30PM W/RSVP",
					"category": "Food",
					"description": "NYC #1 Celebrity Party , Never know who will show up at Lux Saturdays"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F344608609%2F254534975312%2F1%2Foriginal.20220830-123450?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C1305%2C3300%2C1650&s=cd3384368f839b390e1487e04317c211",
					"name": "Oddities Flea Market New York City",
					"date": "Sat, Dec 10",
					"time": "11:00 AM",
					"address": "Metropolitan Pavilion • New York, NY",
					"price": "Starts at $22.85",
					"category": "Entertainment",
					"description": "Oddities Flea Market is thrilled to welcome you to the Metropolitan Pavilion in Manhattan this winter!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F368715519%2F471091208451%2F1%2Foriginal.20220909-131911?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C16%2C1080%2C540&s=7c8916fd6004581e4d1d4fa07877708a",
					"name": "n00b york city",
					"date": "Tue, Dec 13",
					"time": "8:00 PM",
					"address": "BrookLAN • Brooklyn, NY",
					"price": "Free",
					"category": "Entertainment",
					"description": "Where top comedians and seasoned gamers collide!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F129222591%2F197361445633%2F1%2Foriginal.20210316-120602?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=173%2C0%2C2160%2C1080&s=8aa946aeb0dfa8e69ddab124b14fcced",
					"name": "New York Tech Career Fair: Exclusive Tech Hiring Event",
					"date": "Fri, Dec 16",
					"time": "12:00 PM",
					"address": "Moved to Virtual Event • New York, NY",
					"price": "Free",
					"category": "Attraction",
					"description": "Tech Career Fair focus on helping companies achieve their diversity and inclusivity initiative with more diverse non-traditional candidates"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F397453229%2F155520257281%2F1%2Foriginal.20221121-175844?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C1350%2C675&s=322f669e90f2c64e1443751800297d10",
					"name": "Gala Galactica: New Year's Eve",
					"date": "Sat, Dec 31",
					"time": "10:00 PM",
					"address": "House of Yes • Brooklyn, NY",
					"price": "Starts at $69.38",
					"category": "Music",
					"description": "House of Yes presents Gala Galactica: New Year's Eve #happyholidays #nye"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F382548449%2F9011001541%2F1%2Foriginal.20221028-233528?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=8%2C392%2C1072%2C536&s=bfafa72203be0d0d2d29e5b17d4f5267",
					"name": "Mixed Media Street Art Exhibition #2 - NYC",
					"date": "Today",
					"time": "6:00 PM",
					"address": "Hudson Yards Gallery • New York, NY",
					"price": "Free",
					"category": "Arts",
					"description": "Bringing NYC street artists together, a second time, for a 4-day showing of incredible mixed media art."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F397799929%2F808659416043%2F1%2Foriginal.20221122-030325?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C1600%2C800&s=95f890b035e29f0cf93e08c3ac64f4d2",
					"name": "AFL Muay Thai-GAME CHANGER",
					"date": "Tomorrow",
					"time": "6:00 PM",
					"address": "The Post BK • Brooklyn, NY",
					"price": "Starts at $54.98",
					"category": "Fitness",
					"description": "Come join us as we take our show to Brooklyn"
				},
				{
					"img": "/img/logo.png",
					"name": "10",
					"date": "10",
					"time": "10",
					"address": "10",
					"price": "10",
					"category": "Music",
					"description": "10"
				},
				{
					"img": "/img/logo.png",
					"name": "11",
					"date": "11",
					"time": "11",
					"address": "11",
					"price": "11",
					"category": "Music",
					"description": "11"
				},
				{
					"img": "/img/event1.png",
					"name": "12",
					"date": "12",
					"time": "12",
					"address": "12",
					"price": "12",
					"category": "Music",
					"description": "12"
				},
				{
					"img": "/img/event1.png",
					"name": "12",
					"date": "12",
					"time": "12",
					"address": "12",
					"price": "12",
					"category": "Food",
					"description": "12"
				},
				{
					"img": "/img/event1.png",
					"name": "13",
					"date": "13",
					"time": "13",
					"address": "13",
					"price": "13",
					"category": "Food",
					"description": "13"
				},
				{
					"img": "/img/event2.png",
					"name": "14",
					"date": "14",
					"time": "14",
					"address": "14",
					"price": "14",
					"category": "Health",
					"description": "14"
				},
				{
					"img": "/img/event2.png",
					"name": "15",
					"date": "15",
					"time": "15",
					"address": "15",
					"price": "15",
					"category": "Attraction",
					"description": "15"
				},
				{
					"img": "/img/event2.png",
					"name": "16",
					"date": "16",
					"time": "16",
					"address": "16",
					"price": "16",
					"category": "Attraction",
					"description": "16"
				},
				{
					"img": "/img/event3.png",
					"name": "17",
					"date": "17",
					"time": "17",
					"address": "17",
					"price": "17",
					"category": "Travel",
					"description": "17"
				},
				{
					"img": "/img/event3.png",
					"name": "18",
					"date": "18",
					"time": "18",
					"address": "18",
					"price": "18",
					"category": "Travel",
					"description": "18"
				},
				{
					"img": "/img/event3.png",
					"name": "19",
					"date": "19",
					"time": "19",
					"address": "19",
					"price": "19",
					"category": "Travel",
					"description": "19"
				},
				{
					"img": "/img/logo.png",
					"name": "20",
					"date": "20",
					"time": "20",
					"address": "20",
					"price": "20",
					"category": "Health",
					"description": "20"
				},
				{
					"img": "/img/logo.png",
					"name": "21",
					"date": "21",
					"time": "21",
					"address": "21",
					"price": "21",
					"category": "Entertainment",
					"description": "21"
				},
				{
					"img": "/img/logo.png",
					"name": "22",
					"date": "22",
					"time": "22",
					"address": "22",
					"price": "22",
					"category": "Health",
					"description": "22"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F298786339%2F226667758798%2F1%2Foriginal.20220607-172215?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C217%2C636%2C318&s=be6b400740a1d2beacc2bd5fa92cfea2",
					"name": "New Year's Eve 2023 @230 Fifth Rooftop",
					"date": "Sat, Dec 31",
					"time": "8:00 PM",
					"address": "230 5th Ave • New York, NY",
					"price": "Starts at $193.30",
					"category": "Music ",
					"description": "Celebrate New Year's Eve at NYC's largest indoor & outdoor bar! Join us for our annual New Year's Eve Extravaganza!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F144930473%2F51234595122%2F1%2Foriginal.20210818-185920?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C198%2C2100%2C1050&s=34639f44e515c9b00764a8dea916af70",
					"name": "Sunday Sqool Comedy",
					"date": "Sun, Dec 11",
					"time": "7:45 PM",
					"address": "Sour Mouse • New York, NY",
					"price": "Starts at $12.24",
					"category": "Arts",
					"description": "The most diverse, talented comedians in NYC come together at this show, and it's topped off w/ an afterparty."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F404522969%2F116012978731%2F1%2Foriginal.20221204-194748?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C377%2C1200%2C600&s=4e1f154b8ec373f9d264a62ae9625616",
					"name": "Black Health Connect: NYC - Q4 Mixer + Toy Drive",
					"date": "Fri, Dec 16",
					"time": "5:00 PM",
					"address": "Harbor NYC Rooftop • New York, NY",
					"price": "RSVP and a Toy are required for free entry",
					"category": "Health",
					"description": "COMING TOGETHER TODAY, FOR A MORE SUCCESSFUL TOMORROW."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F402169529%2F66299487319%2F1%2Foriginal.20221130-054645?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C13%2C1024%2C512&s=19af6eab00379e0e931c8436fffeb1ed",
					"name": "Ladies Drink For Free NYC #1 Party Lux Saturdays At Cavali NYC",
					"date": "Sat, Dec 10",
					"time": "11:00 PM",
					"address": "Cavali New York • Queens, NY",
					"price": "Ladies Free Before Midnight W/RSVP - Men Free Before 11:30PM W/RSVP",
					"category": "Food",
					"description": "NYC #1 Celebrity Party , Never know who will show up at Lux Saturdays"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F344608609%2F254534975312%2F1%2Foriginal.20220830-123450?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C1305%2C3300%2C1650&s=cd3384368f839b390e1487e04317c211",
					"name": "Oddities Flea Market New York City",
					"date": "Sat, Dec 10",
					"time": "11:00 AM",
					"address": "Metropolitan Pavilion • New York, NY",
					"price": "Starts at $22.85",
					"category": "Entertainment",
					"description": "Oddities Flea Market is thrilled to welcome you to the Metropolitan Pavilion in Manhattan this winter!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F368715519%2F471091208451%2F1%2Foriginal.20220909-131911?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C16%2C1080%2C540&s=7c8916fd6004581e4d1d4fa07877708a",
					"name": "n00b york city",
					"date": "Tue, Dec 13",
					"time": "8:00 PM",
					"address": "BrookLAN • Brooklyn, NY",
					"price": "Free",
					"category": "Entertainment",
					"description": "Where top comedians and seasoned gamers collide!"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F129222591%2F197361445633%2F1%2Foriginal.20210316-120602?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=173%2C0%2C2160%2C1080&s=8aa946aeb0dfa8e69ddab124b14fcced",
					"name": "New York Tech Career Fair: Exclusive Tech Hiring Event",
					"date": "Fri, Dec 16",
					"time": "12:00 PM",
					"address": "Moved to Virtual Event • New York, NY",
					"price": "Free",
					"category": "Health",
					"description": "Tech Career Fair focus on helping companies achieve their diversity and inclusivity initiative with more diverse non-traditional candidates"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F397453229%2F155520257281%2F1%2Foriginal.20221121-175844?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C1350%2C675&s=322f669e90f2c64e1443751800297d10",
					"name": "Gala Galactica: New Year's Eve",
					"date": "Sat, Dec 31",
					"time": "10:00 PM",
					"address": "House of Yes • Brooklyn, NY",
					"price": "Starts at $69.38",
					"category": "Music",
					"description": "House of Yes presents Gala Galactica: New Year's Eve #happyholidays #nye"
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F382548449%2F9011001541%2F1%2Foriginal.20221028-233528?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=8%2C392%2C1072%2C536&s=bfafa72203be0d0d2d29e5b17d4f5267",
					"name": "Mixed Media Street Art Exhibition #2 - NYC",
					"date": "Today",
					"time": "6:00 PM",
					"address": "Hudson Yards Gallery • New York, NY",
					"price": "Free",
					"category": "Arts",
					"description": "Bringing NYC street artists together, a second time, for a 4-day showing of incredible mixed media art."
				},
				{
					"img": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F397799929%2F808659416043%2F1%2Foriginal.20221122-030325?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C1600%2C800&s=95f890b035e29f0cf93e08c3ac64f4d2",
					"name": "AFL Muay Thai-GAME CHANGER",
					"date": "Tomorrow",
					"time": "6:00 PM",
					"address": "The Post BK • Brooklyn, NY",
					"price": "Starts at $54.98",
					"category": "Health",
					"description": "Come join us as we take our show to Brooklyn"
				},
				{
					"img": "/img/logo.png",
					"name": "10",
					"date": "10",
					"time": "10",
					"address": "10",
					"price": "10",
					"category": "Healh",
					"description": "10"
				},
				{
					"img": "/img/logo.png",
					"name": "11",
					"date": "11",
					"time": "11",
					"address": "Health",
					"price": "11",
					"category": "Attraction",
					"description": "11"
				},
				{
					"img": "/img/event1.png",
					"name": "12",
					"date": "12",
					"time": "12",
					"address": "12",
					"price": "12",
					"category": "Music",
					"description": "12"
				},
				{
					"img": "/img/event1.png",
					"name": "12",
					"date": "12",
					"time": "12",
					"address": "12",
					"price": "12",
					"category": "Entertainment",
					"description": "12"
				},
				{
					"img": "/img/event1.png",
					"name": "13",
					"date": "13",
					"time": "13",
					"address": "13",
					"price": "13",
					"category": "Entertainment",
					"description": "13"
				},
				{
					"img": "/img/event2.png",
					"name": "14",
					"date": "14",
					"time": "14",
					"address": "14",
					"price": "14",
					"category": "Entertainment",
					"description": "14"
				},
				{
					"img": "/img/event2.png",
					"name": "15",
					"date": "15",
					"time": "15",
					"address": "15",
					"price": "15",
					"category": "Attraction",
					"description": "15"
				},
				{
					"img": "/img/event2.png",
					"name": "16",
					"date": "16",
					"time": "16",
					"address": "16",
					"price": "16",
					"category": "Music",
					"description": "16"
				},
				{
					"img": "/img/event3.png",
					"name": "17",
					"date": "17",
					"time": "17",
					"address": "17",
					"price": "17",
					"category": "Health",
					"description": "17"
				},
				{
					"img": "/img/event3.png",
					"name": "18",
					"date": "18",
					"time": "18",
					"address": "18",
					"price": "18",
					"category": "Food",
					"description": "18"
				},
				{
					"img": "/img/event3.png",
					"name": "19",
					"date": "19",
					"time": "19",
					"address": "19",
					"price": "19",
					"category": "Food",
					"description": "19"
				},
				{
					"img": "/img/logo.png",
					"name": "20",
					"date": "20",
					"time": "20",
					"address": "20",
					"price": "20",
					"category": "Music",
					"description": "20"
				},
				{
					"img": "/img/logo.png",
					"name": "21",
					"date": "21",
					"time": "21",
					"address": "21",
					"price": "21",
					"category": "",
					"description": "21"
				},
				{
					"img": "/img/logo.png",
					"name": "22",
					"date": "22",
					"time": "22",
					"address": "22",
					"price": "22",
					"category": "22",
					"description": "22"
				}
			]
		}
/*******Trending Section*******/
		var eventSlide = [],	//creates an array of empty slides
		cards = "", 			//html of cards to add to each slide
		currentSlide = 0, 		//Used to navigate through slides
		maxNumSlides = 3,		//Max number of slides to be displayed
		maxNumCards = 3		//

		/*
		var numTopEvents = 8, maxSlides = 3, numSlides
		if(eventData.events.length == 0){
			cards ="<h2 style='color: brown'>No Events Found. Try Again</h2>"
			document.getElementById("cards").innerHTML = eventSlide
		}else{	
			generateTopEvents()	//create an array of events with max num 9
			numTopEvents = topEvents.length
			if(numTopEvents % maxSlides == 0)
				numSlides = numTopEvents/maxSlides
			else
				numSlides = (numTopEvents/maxSlides) + 1
			for (let i = 0; i < numSlides; i++){	//creates three slides, each with three cards
				cards = ""	//reset cards
				if(numTopEvents - (3 * i) >= 3){
					cardNum = 3
				}		
				else{
					cardNum = numTopEvents - (3 * i)
				}
				for (let j = 0; j < cardNum; j++){
					cards = make card 
				}
				eventSlide[i] = cards
			}
		*/

		for (let i = 0; i < maxNumSlides; i++){	//creates slides based on maxNumSlides
			cards = ""	//reset cards
			for (let j = 0; j < maxNumCards; j++){	//Creates Cards depending on maxNumCards
				cards += 					//use the eventData index to generate cards
				"<div class='card'>" +
					"<div class='imgbox'><img class='img' src=" + eventData.events[j+(3*i)].img + "></div>" +
					"<div class='infobox'>" +
					"<div class='info'>" +
							"<span>" +
							"<h4>" + eventData.events[j+(3*i)].name + "</h4>" +
							"<h5>" + eventData.events[j+(3*i)].date + ", " + eventData.events[j+(3*i)].time + "</h5>" +
							"<h5>" + eventData.events[j+(3*i)].address + "</h5>" +
							"<h5>" + eventData.events[j+(3*i)].category + "</h5>" +
							"<h5>" + eventData.events[j+(3*i)].price + "</h5>" +
							"<p>" + eventData.events[j+(3*i)].description + "</p>" +
							"</span>" +
						"</div>" +
						"<div class='btnbox'>" +
							"<button class='btn'><i class='fa-regular fa-star fa-lg'></i></button>" +
							"<button class='btn'><i class='fa-regular fa-rectangle-list fa-lg'></i></i></button>" +
							"<button class='btn'><i class='fa-solid fa-map fa-lg'></i></button>" +
						"</div>" +
					"</div>" +
				"</div>"
			}
			eventSlide[i] = cards	//adds all cards to currernt index of eventSlide
		}

		document.getElementById("cards").innerHTML = eventSlide[currentSlide]	//on start up
		var dots = document.getElementsByClassName("dot");	//Array holding all elements with "dot class
		


		function changeSlide(iter){	//navigates through slides
			if(currentSlide + iter < 0)	//if currentSlide goes under the number of slides, reset at last slide
				currentSlide = eventSlide.length - 1
			else if(currentSlide + iter > eventSlide.length - 1)	//if currentSlide exceeds the number of slides, reset at start
				currentSlide = 0
			else	//increments or decrement slide index depending on button pressed
				currentSlide += iter
			document.getElementById("cards").innerHTML = eventSlide[currentSlide]	//displays slide
			
			for (i = 0; i < dots.length; i++) {		//Resets all dots
   				dots[i].className = dots[i].className.replace(" active", "");
  			}
			dots[currentSlide].className += " active";	//replaces the class currentSlide dot with active
		}


		function activeButton(selectedSlide){			//Displays which dot is currently active
			document.getElementById("cards").innerHTML = eventSlide[selectedSlide]
			for (i = 0; i < dots.length; i++) {	//Resets all dots
   				dots[i].className = dots[i].className.replace(" active", "");
  			}
			dots[selectedSlide].className += " active";	//replaces the class currentSlide dot with active
		}

/*******Table Section Script*******/
		var eventTabs = "", 	//holds html of events
		maxNumEventTabs = 10, 	//Max number of events per page
		pages = [], 			//array of pages
		pageNum = 0, 			//Holds the number of pages to be created
		eventNum, 				//Used to create last page with remaining events
		matchedEvents = [], 	//Array of indexes with matched Events
		numMatchedEvents = eventData.events.length,	//numMatchedEvents holds the number of all events in eventData in the beginning, updated with filters
		currentPage = 0, 		//Used to navigate between pages
		currentEvent = 0		//Used to navigate between displayed events
		categs = []				//Array of currently selected categories
		pricing = []			//Array of currently selected pricings
		date = []				//Array of current;y selected dates


		function filterEvents(){
			allEvents()					//Resets matchedEvents to all events
			if(categs.length != 0)		//If categs is not empty, filter events via categories
				filterCateg(categs)		
			if(pricing.length != 0)		//If pricing is not empty, filter events via pricing
				filterPricing(pricing)
			if(date.length != 0)		//If date is not empty, filter events via date
				filterDate(date)
			createPages()				
			document.getElementById("eventNum").innerHTML = "<h4>" + numMatchedEvents +
															" events matched" + "</h4>"		//Displays number of events matched
			document.getElementById("events").innerHTML = pages[currentPage]				//Displays the current page
			loadinfo(currentEvent)		//loads first event page on start up
		}

		function createPages(){			//Creates and populates pages with matched events
			pages = []
			if(numMatchedEvents % maxNumEventTabs == 0)				//Determines if an extra page is need for remaining events
				pageNum = numMatchedEvents/maxNumEventTabs
			else
				pageNum = (numMatchedEvents/maxNumEventTabs) + 1	//Creates extra page for excess events

			for (let i = 0; i < pageNum; i++){					//Populates current page iteration
				eventTabs = ""
				if(numMatchedEvents - (maxNumEventTabs * i) >= maxNumEventTabs){	//Number of events to be added to page
					eventNum = maxNumEventTabs
				}		
				else{
					eventNum = numMatchedEvents - (maxNumEventTabs * i)		//If the remaining number of events is less than maxNumEventTabs, only create the remainig event tabs
				}
				for(let j = 0; j < eventNum; j++){		//Creates html of event tabs
					eventTabs += 
						"<div class='event' onclick='loadinfo(" + matchedEvents[(j + (i * maxNumEventTabs))] + ")'>" + 
							((j + (i * maxNumEventTabs))+ 1) + ". " + eventData.events[matchedEvents[(j + (i * maxNumEventTabs))]].name + " " +
							eventData.events[matchedEvents[(j + (i * maxNumEventTabs))]].date + " " +
							eventData.events[matchedEvents[(j + (i * maxNumEventTabs))]].time + 
						"</div>"
				}
				pages[i] = eventTabs	//HTML of event tabs added to current page
				if(pages[i] == ""){		//Prevent Empty pages from being displayed
					pages.pop()
					pageNum--
				}					
			}
			currentPage = 0		//Loads the first event of page onto the info section
		}

		filterEvents()
		
		function loadinfo(index){	//Loads information of event at index onto the info section of the table
			info = 
				"<div class='header'><h4>Information</h4></div>" +
					"<div class='imgbox'>" +
						"<img class='img' src=" + eventData.events[index].img + ">" +
					"</div>" +
					"<div class='infobox'>" +
						"<div class='info'>" +
							"<span>" +
							"<h4>" + eventData.events[index].name + "</h4>" +
							"<h5>" + eventData.events[index].date + ", " + eventData.events[index].time + "</h5>" +
							"<h5>" + eventData.events[index].address + "</h5>" +
							"<h5>" + eventData.events[index].category + "</h5>" +
							"<h5>" + eventData.events[index].price + "</h5>" +
							"<p>" + eventData.events[index].description + "</p>" +
							"</span>" +
						"</div>" +
						"<div class='btnbox'>" +
							"<button class='btn'><i class='fa-regular fa-star fa-lg'></i></button>" +
							"<button class='btn'><i class='fa-regular fa-rectangle-list fa-lg'></i></i></button>" +
							"<button class='btn'><i class='fa-solid fa-map fa-lg'></i></button>" +
						"</div>" +
					"</div>"
			document.getElementById("eventinfo").innerHTML = info
		}

		function changePage(iter){	//Navigates through pages
			if(currentPage + iter < 0)	//If pages goes out of bounds to the left, reset to first page
				currentPage = 0
			else if(currentPage + iter > pages.length - 1)	//If pages goes out of bounds to the right, reset to last page
				currentPage = pages.length - 1
			else	//increments or decrement slide index depending on button pressed
				currentPage += iter
			document.getElementById("events").innerHTML = pages[currentPage]	//displays page
		}

		function allEvents(){	//Resets the matchedEvents to all events
			matchedEvents = []	//Resets matchedEvents
			for(let i = 0; i < eventData.events.length; i++){	//Stores every index
				matchedEvents.push(i)
			}
			numMatchedEvents = matchedEvents.length		//Updates length of matchedEvents
		}

		function filterCateg(categs){	//Stores all indexes that match the categories chosen
			var indexes = []			//array of matched Indexes
			for(let i = 0; i < categs.length; i++){		//iterates through the categories chosen
				for(let j = 0; j < numMatchedEvents; j++)		//Iterates through all events
					if(categs[i] == eventData.events[j].category){		//pushes index to array if matched
						indexes.push(j)
					}
			}
			matchedEvents = indexes.slice()		//matchedEvents copies indexes array
			numMatchedEvents = matchedEvents.length		//Update length of matchedEvents
		}

		function filterPricing(pricing){	//Stores all indexes that match the pricing chosen
			var indexes = []		//array of matched Indexes
			for(let i = 0; i < pricing.length; i++){		//iterates through the pricing chosen
				for(let j = 0; j < numMatchedEvents; j++){	
						//Iterates through all events
					if(pricing[i] == eventData.events[j].price)		//pushes index to array if matched
						indexes.push(j)
					if((pricing[i] == "Paid") && eventData.events[j].price.includes('$'))		//pushes index to array if matched
						indexes.push(j)
					if((pricing[i] == "Special") && ((eventData.events[j].price != "Free"))  == !(eventData.events[j].price.includes('$')))
						indexes.push(j)
				}
			}
			matchedEvents = indexes.slice()		//matchedEvents copies indexes array
			numMatchedEvents = matchedEvents.length		//Update length of matchedEvents
		}

		function filterDate(date){	//Stores all indexes that match the date chosen
			var indexes = []		//array of matched Indexes
			for(let i = 0; i < date.length; i++){		//iterates through the date chosen
				for(let j = 0; j < numMatchedEvents; j++)		//Iterates through all events
					if(date[i] == eventData.events[j].date){		//pushes index to array if matched
						indexes.push(j)
					}
			}
			matchedEvents = indexes			//matchedEvents copies indexes array
			numMatchedEvents = indexes.length	//Update length of matchedEvents
		}

		

		function toggleCateg(value){		//Toggles the category chosen
			var index = categs.indexOf(value);	//Searches for index of category
			if (index == -1) {				//If not found, add it to the array of categories
				categs.push(value);
			} else {						//Else, if found, remove from array
				categs.splice(index, 1);
			}
			filterEvents()					//Updates the matchedEvents with categories chosen
		}

		function togglePricing(value){		//Toggles the pricing chosen
			var index = pricing.indexOf(value);	//Searches for index of pricing
			if (index == -1) {				//If not found, add it to the array of pricing
				pricing.push(value);		
			} else {						//Else, if found, remove from array
				pricing.splice(index, 1);
			}
			filterEvents()					//Updates the matchedEvents with pricing chosen
		}

		function toggleDate(value){			//Toggles the date chosen
			var index = date.indexOf(value);	//Searches for index of date
			if (index == -1) {				//If not found, add it to the array of dates
				date.push(value);
			} else {
				date.splice(index, 1);		//Else, if found, remove from array
			}
			filterEvents()					//Updates the matchedEvents with date chosen
		}

		/*
		function searchEvent(value){
			/*
				take search bar input
					for loop entire list
						compare subarray of name given to all events.name occurrences
							save index of all matches
			*/


/*******buttons for info box*******/
		function saveEvent(){	//Saves event on user database
			if(!loggedIn){
				//redirect to login page
			}else{
				//save event for user
				//add event to user saved event section
			}
		}
		function readMore(){

		}
		function showOnMap(){

		}
	</script>
</body>
</html>

